@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    background-color: theme("colors.primary");
    color: theme("colors.text");
    font-family: theme("fontFamily.sans");
    -webkit-font-smoothing: antialiased;
  }
}
